.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.error__btn {
  border: none;
  text-transform: uppercase;
  padding: 1rem 4rem;
  border-radius: 0.2rem;
  background-color: #d1d1d1;
  color: white;
  transition: all 50ms ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.error__btn:hover {
  background-color: #b4b3b3;
}

.error__btn:active {
  background-color: #919191;
}
