.main-box {
  position: relative;
  margin-top: var(--mt-section);
  background-color: var(--clr-bgc);
  padding: 2rem 4rem;
  box-shadow: var(--box-shadow-default);
}

.main-box.main-box-changed {
  display: flex;
  gap: 1rem;
}

.main-box.main-box-changed > *:not(.loader) {
  width: 50%;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@media (max-width: 992px) {
  .main-box.main-box-changed {
    display: block;
  }

  .main-box.main-box-changed > *:not(.loader) {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .main-box {
    padding: 1rem;
    min-height: 18.063rem;
  }
}
