.header-box {
  height: 5rem;
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.125rem 2px rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  background-color: var(--clr-bgc);
}
